version: "3.8"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - db_data:/data
    environment:
          - WEBHOOK_SECRET
          - DATABASE_URL
          - LOG_LEVEL

volumes:
  db_data:
